body {
    background-color: pink;
    display: grid;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.matrice-container {
    display: grid;
    /* Crea 3 colonne di uguali dimensioni */
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
  }
  .cell {
    background-color: white;
    border: 2px solid black;
    height: 100px;
    display: flex;
    justify-content: center; /* Centra contenuto orizzontalmente */
    align-items: center;     /* Centra contenuto verticalmente */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
  }
